{% load staticfiles %}

<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel = "stylesheet" href="{% static 'css/style.css' %}" />

	<title> 
		{% block title %}My Hello Web App Project {% endblock %}
	</title>
	{% block header %}{% endblock %}
</head>
<body>
	<header>
		<h1>Hello Web App </h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li><a href="{% url 'browse' %}">Browse</a></li>
				{% if user.is_authenticated %}
				<li>	
					<a href="{% url 'auth_logout' %}">Logout</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'auth_login' %}">Login</a>
				</li>
				<li>
					<a href="{% url 'registration_register' %}">Register</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
</body>
</html>